In [21]:
import pandas as pd

In [22]:
pd.set_option('display.max_columns', None)

In [23]:
df = pd.read_csv('kolkata.csv')

In [24]:
df.head()

,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,TOTAL_FLOOR,FEATURES,PROP_NAME,PRICE_SQFT,MAP_DETAILS,AMENITIES,AREA,PRICE,PROP_HEADING,SECONDARY_TAGS,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,SOCIETY_NAME,BUILDING_NAME,location,BALCONY_NUM,FLOOR_NUM,CARPET_SQFT,SUPERBUILTUP_SQFT,BUILTUP_SQFT,SUPER_AREA,SUPERAREA_UNIT,SUPER_SQFT
0,Y71306776,S,Book your 2 BHK flat in Srijan Star Swapno Pur...,Residential Apartment,Kolkata South,2.0,1,2.0,3662.0,0,0,5,3.0,N,Srijan Star Swapno Puron,3662.0,"{'LATITUDE': '22.364447', 'LONGITUDE': '88.274...",NaN,518-623 sq.ft.,19.1 L Onwards,2 BHK Flat in Amtala,"['UNDER CONSTRUCTION', 'NEW BOOKING', 'RERA | ...",2.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Srijan Star Swapno Puron,Srijan Star Swapno Puron,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,B70113976,S,Make Natural Quest your next home. This projec...,Residential Apartment,Kolkata South,2.0,1,3.0,10500.0,0,0,5,11.0,N,Natural Quest,10500.0,"{'LATITUDE': '22.518795', 'LONGITUDE': '88.388...",NaN,1110-1121 sq.ft.,1.17 - 1.18 Cr,3 BHK Flat in EM Bypass,"['UNDER CONSTRUCTION', 'NEW LAUNCH', 'NEW BOOK...",9.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Natural Quest,Natural Quest,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2,O70374510,S,"Book your 3 BHK apartment in Garia, Kolkata So...",Residential Apartment,Kolkata South,2.0,1,3.0,8900.0,0,0,5,20.0,N,Ganguly 4Sight Eminence,8900.0,"{'LATITUDE': '22.5137646', 'LONGITUDE': '88.36...",NaN,1376-1516 sq.ft.,1.22 - 1.35 Cr,3 BHK Flat in Garia,"['UNDER CONSTRUCTION', 'NEW LAUNCH', 'NEW BOOK...",6.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Ganguly 4Sight Eminence,Ganguly 4Sight Eminence,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3,Q69170182,S,"Dev bhumi in joka, kolkata south by ocean land...",Residential Land,Kolkata South,2.0,1,NaN,208.0,0,0,0,0.0,N,Dev Bhumi,208.0,"{'LATITUDE': '22.45383', 'LONGITUDE': '88.2495...",NaN,720-2880 sq.ft.,1.5 - 5.99 L,Residential land / Plot in Joka,"['READY TO MOVE', 'NEW BOOKING']",13.0,"[{'category': 'MetroStation', 'text': '2 Metro...",Dev Bhumi,Dev Bhumi,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F69917588,S,Let your dream of owning a flat come true with...,Residential Apartment,Kolkata South,2.0,1,3.0,5215.0,0,0,5,19.0,N,DTC Sojon,5215.0,"{'LATITUDE': '22.44213', 'LONGITUDE': '88.29551'}",NaN,1130-1460 sq.ft.,60 - 75 L,3 BHK Flat in Joka,"['UNDER CONSTRUCTION', 'NEW BOOKING']",11.0,"[{'category': 'MetroStation', 'text': '1 Metro...",DTC Sojon,DTC Sojon,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = df[df['PROP_ID'] != 'P69972294']

In [26]:
df.shape

(8796, 35)

In [27]:
df.columns

Index(['PROP_ID', 'PREFERENCE', 'DESCRIPTION', 'PROPERTY_TYPE', 'CITY',
       'TRANSACT_TYPE', 'OWNTYPE', 'BEDROOM_NUM', 'PRICE_PER_UNIT_AREA',
       'FURNISH', 'FACING', 'AGE', 'TOTAL_FLOOR', 'FEATURES', 'PROP_NAME',
       'PRICE_SQFT', 'MAP_DETAILS', 'AMENITIES', 'AREA', 'PRICE',
       'PROP_HEADING', 'SECONDARY_TAGS', 'TOTAL_LANDMARK_COUNT',
       'FORMATTED_LANDMARK_DETAILS', 'SOCIETY_NAME', 'BUILDING_NAME',
       'location', 'BALCONY_NUM', 'FLOOR_NUM', 'CARPET_SQFT',
       'SUPERBUILTUP_SQFT', 'BUILTUP_SQFT', 'SUPER_AREA', 'SUPERAREA_UNIT',
       'SUPER_SQFT'],
      dtype='object')

## Column Descriptions:

1. **PROP_ID**: A unique identifier for each property listing, in the form of an object or string.
2. **PREFERENCE**: Indicates the preference type for the property listing (e.g., "S" for sale, "R" for rent, "P" for pendin means yet to decideg).
3. **DESCRIPTION**: A description of the property listing.
4. **PROPERTY_TYPE**: The type of the property (e.g., "Residential Apartment").
5. **CITY**: The city where the property is located.
6. **TRANSACT_TYPE**: The transaction type.
7. **OWNTYPE**: An integer representing the ownership type.
8. **BEDROOM_NUM**: The number of bedrooms in the property.
9. **PRICE_PER_UNIT_AREA**: The price per unit area of the property.
10. **FURNISH**: Indicates whether the property is furnished.
11. **FACING**: Indicates the direction the property is facing.
12. **AGE**: The age of the property in years.
13. **TOTAL_FLOOR**: The total number of floors in the building.
14. **FEATURES**: Describes the features of the property.
15. **PROP_NAME**: The name of the property.
16. **PRICE_SQFT**: The price per square foot of the property.
17. **MAP_DETAILS**: Contains latitude and longitude information.
18. **AMENITIES**: Describes the amenities available with the property.
19. **AREA**: The area of the property.
20. **PRICE**: The price of the property. This is the target column for ML.
21. **PROP_HEADING**: A heading or title for the property.
22. **SECONDARY_TAGS**: Secondary tags or labels.
23. **TOTAL_LANDMARK_COUNT**: The total number of landmarks near the property.
24. **FORMATTED_LANDMARK_DETAILS**: Details of nearby landmarks.
25. **SOCIETY_NAME**: The name of the society or community.
26. **BUILDING_NAME**: The name of the building.
27. **location**: Additional location information.
28. **BALCONY_NUM**: The number of balconies in the property.
29. **FLOOR_NUM**: The floor number of the property.
30. **CARPET_SQFT**: The total carpet area of the property in square feet.
31. **SUPERBUILTUP_SQFT**: The total super built-up area of the property in square feet.
32. **BUILTUP_SQFT**: The total built-up area of the property in square feet.
33. **SUPER_AREA**: The total super area of the property in square feet.
34. **SUPERAREA_UNIT**: The unit of measurement for the super area.
35. **SUPER_SQFT**: The total super area of the property in square feet.
 verified.
- **xid**: An identifier or key associated with the property listing.
ting is verified.
xid: An identifier or key associated with the property listing.

In [28]:
df['FURNISH']= df['FURNISH'].replace({0: 'Unfurnished', 1: 'Semi-furnished', 2:'Fully furnished', 4: 'Luxury furnished'})

In [29]:
df['FACING'].value_counts()

FACING
0    2695
7    1813
2    1262
5     725
3     687
8     597
1     450
6     341
4     226
Name: count, dtype: int64

In [30]:
df.sample(5)

,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,TOTAL_FLOOR,FEATURES,PROP_NAME,PRICE_SQFT,MAP_DETAILS,AMENITIES,AREA,PRICE,PROP_HEADING,SECONDARY_TAGS,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,SOCIETY_NAME,BUILDING_NAME,location,BALCONY_NUM,FLOOR_NUM,CARPET_SQFT,SUPERBUILTUP_SQFT,BUILTUP_SQFT,SUPER_AREA,SUPERAREA_UNIT,SUPER_SQFT
654,G53815522,R,Beautiful society. All functions are celebrate...,Residential Apartment,Kolkata North,NaN,0,3.0,14.0,Luxury furnished,3,1,19.0,N,Godrej Prakritii,14.0,"{'LATITUDE': '22.69924', 'LONGITUDE': '88.38115'}",103,1170 sq.ft.,"20,000",3 BHK Flat in Sodepur,[],25.0,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",Godrej Prakritii,Godrej Prakritii,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",2.0,1,NaN,1170.0,NaN,NaN,NaN,NaN
4381,I69395232,R,Mukundapur nayabad main road 40 ft road\n \n A...,Residential Apartment,Kolkata South,NaN,0,3.0,15.0,Fully furnished,2,1,4.0,24,on request,15.0,"{'LATITUDE': '22.431776', 'LONGITUDE': '88.396...",24,1275 sq.ft.,"20,000",3 BHK Flat in Mukundapur,[],1.0,[],on request,on request,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",1.0,1,NaN,1275.0,NaN,NaN,NaN,NaN
4606,R71363244,S,On request is one of kolkata south's most soug...,Residential Apartment,Kolkata South,1.0,1,2.0,6000.0,Fully furnished,5,1,2.0,"24,47,25,5,17,21",On Request,6000.0,"{'LATITUDE': '22.509327', 'LONGITUDE': '88.397...","5,17,21,24,47,25",560 sq.ft.,33.6 L,2 BHK Flat in Kasba,"['READY TO MOVE', 'RESALE']",50.0,"[{'category': 'ReligiousPlace', 'text': '16 Re...",On Request,On Request,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",0.0,G,NaN,560.0,NaN,NaN,NaN,NaN
2034,K71205736,S,"Book your 4 BHK flat in Madhyamgram, Kolkata N...",Residential Apartment,Kolkata North,2.0,1,4.0,4977.0,Unfurnished,0,5,11.0,N,Solus,4977.0,"{'LATITUDE': '22.70124', 'LONGITUDE': '88.47059'}",NaN,1528 sq.ft.,76.06 L,4 BHK Flat in Madhyamgram,"['UNDER CONSTRUCTION', 'NEW BOOKING']",10.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Solus,Solus,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",NaN,1,NaN,1528.0,NaN,NaN,NaN,NaN
2410,G70414864,R,"At jadavpur, garfa near pratapgarh lokenath ma...",Residential Apartment,Kolkata South,NaN,0,2.0,18.0,Luxury furnished,1,1,3.0,"47,5,40,41",Pratapgarh,18.0,"{'LATITUDE': '88.35469', 'LONGITUDE': '22.5360...","5,47,40,41,103",600 sq.ft.,"10,500",2 BHK Flat in Garfa,"['FOR SINGLE MEN', 'FOR SINGLE WOMEN']",NaN,NaN,Pratapgarh,Pratapgarh,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",1.0,G,500.0,NaN,600.0,NaN,NaN,NaN

In [31]:
df['PREFERENCE'].value_counts()

PREFERENCE
S    7059
R    1354
P     383
Name: count, dtype: int64

In [32]:
# dropping excessive null values columns
df.drop(columns=['BUILTUP_SQFT', 'SUPER_AREA', 'SUPERAREA_UNIT', 'SUPER_SQFT','CARPET_SQFT','TRANSACT_TYPE','OWNTYPE','PRICE_SQFT','SUPERBUILTUP_SQFT'], inplace=True)

In [33]:
df.isnull().sum()

PROP_ID                          0
PREFERENCE                       0
DESCRIPTION                      0
PROPERTY_TYPE                    0
CITY                             0
BEDROOM_NUM                    485
PRICE_PER_UNIT_AREA              0
FURNISH                          0
FACING                           0
AGE                              0
TOTAL_FLOOR                     52
FEATURES                         0
PROP_NAME                      634
MAP_DETAILS                      0
AMENITIES                     2052
AREA                             0
PRICE                            0
PROP_HEADING                     0
SECONDARY_TAGS                   0
TOTAL_LANDMARK_COUNT           222
FORMATTED_LANDMARK_DETAILS     222
SOCIETY_NAME                   634
BUILDING_NAME                  647
location                         0
BALCONY_NUM                   2143
FLOOR_NUM                      979
dtype: int64

In [34]:

# Filter the rows where PRICE_PER_UNIT_AREA is not equal to PRICE_SQFT
mismatched_rows = df[df['SOCIETY_NAME'] != df['BUILDING_NAME']]

# Print only the rows where there is a mismatch
print(mismatched_rows.shape)

(647, 26)

In [35]:
df['PRICE_PER_UNIT_AREA'].value_counts()

PRICE_PER_UNIT_AREA
4500.0     109
16.0       104
4000.0     102
15.0        93
18.0        90
          ...
9746.0       1
14594.0      1
9078.0       1
9146.0       1
8417.0       1
Name: count, Length: 3537, dtype: int64

In [36]:
df.iloc[67]['FORMATTED_LANDMARK_DETAILS']

"[{'category': 'MetroStation', 'text': '1 Metro Station', 'className': 'mstn', 'icon': 'https://static.99acres.com/universalapp/img/mstn.png'}, {'category': 'Shopping', 'text': '1 Shopping', 'className': 'shpng', 'icon': 'https://static.99acres.com/universalapp/img/shpng.png'}, {'category': 'Connectivity', 'text': '1 Connectivity', 'className': 'hw', 'icon': 'https://static.99acres.com/universalapp/img/hw.png'}, {'category': 'Education', 'text': '3 Educations', 'className': 'schl', 'icon': 'https://static.99acres.com/universalapp/img/schl.png'}, {'category': 'Hospital', 'text': '1 Hospital', 'className': 'hsptl', 'icon': 'https://static.99acres.com/universalapp/img/hsptl.png'}, {'category': 'Airport', 'text': '1 Airport', 'className': 'aprt', 'icon': 'https://static.99acres.com/universalapp/img/aprt.png'}, {'category': 'RailwayStation', 'text': '1 Railway Station', 'className': 'rail', 'icon': 'https://static.99acres.com/universalapp/img/rail.png'}, {'category': 'Hotel', 'text': '1 Hotels', 'className': 'htl', 'icon': 'https://static.99acres.com/universalapp/img/htl.png'}]"

In [37]:
df.sample(3)

,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,BEDROOM_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,TOTAL_FLOOR,FEATURES,PROP_NAME,MAP_DETAILS,AMENITIES,AREA,PRICE,PROP_HEADING,SECONDARY_TAGS,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,SOCIETY_NAME,BUILDING_NAME,location,BALCONY_NUM,FLOOR_NUM
7922,W69198074,S,3 bhk flat is available in the promising local...,Residential Apartment,Kolkata East,3.0,5595.0,Fully furnished,5,1,5.0,"5,17,21",on request,"{'LATITUDE': '22.599495', 'LONGITUDE': '88.429...","5,17,21,101,102",1251 sq.ft.,70 L,3 BHK Flat in New Town,"['READY TO MOVE', 'RESALE']",49.0,"[{'category': 'MetroStation', 'text': '2 Metro...",on request,on request,"{'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...",2.0,5
8626,F67688126,S,3 bhk road facing flat available for sale on t...,Residential Apartment,Kolkata North,3.0,8792.0,Fully furnished,2,2,19.0,"33,1,12,3,25,6,20,31,21",Alcove Gloria,"{'LATITUDE': '22.597863', 'LONGITUDE': '88.402...","20,21,1,6,33,12,3,25,31",1615 sq.ft.,1.5 Cr,3 BHK Flat in Lake Town,"['READY TO MOVE', 'RESALE']",49.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Alcove Gloria,Alcove Gloria,"{'CITY': '26', 'CITY_NAME': 'Kolkata North', '...",2.0,11
5216,J68524060,S,Check out this 2 bhk apartment for sale in sta...,Residential Apartment,Kolkata South,2.0,3700.0,Fully furnished,6,5,3.0,"44,23,25","Standalone Building, Jairampur Post Office","{'LATITUDE': '88.35469', 'LONGITUDE': '22.5360...","44,23,25",812 sq.ft.,30.04 L,"2 BHK Flat in Jayrampur Post Office, Behala Ch...","['UNDER CONSTRUCTION', 'RESALE']",NaN,NaN,"Standalone Building, Jairampur Post Office","Standalone Building, Jairampur Post Office","{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",1.0,1

In [38]:
df.to_csv('cleaned_dataset_v1.csv', index=False)