In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('final_dataset_for_universal_purpose.csv')

In [24]:
df.isnull().sum()

PROP_ID                       0
PROPERTY_TYPE                 0
SOCIETY_NAME                  0
CITY                          0
location                      0
BEDROOM_NUM                   0
BALCONY_NUM                   0
AREA                          0
Price_per_sqft                0
PRICE                         0
AGE                           0
FACING                        0
FURNISH                       0
amenity_luxury                0
FLOOR_NUM                     0
LATITUDE                      0
LONGITUDE                     0
TOTAL_FLOOR                   0
FORMATTED_LANDMARK_DETAILS    0
DESCRIPTION                   0
dtype: int64

In [25]:
df.head()

,PROP_ID,PROPERTY_TYPE,SOCIETY_NAME,CITY,location,BEDROOM_NUM,BALCONY_NUM,AREA,Price_per_sqft,PRICE,AGE,FACING,FURNISH,amenity_luxury,FLOOR_NUM,LATITUDE,LONGITUDE,TOTAL_FLOOR,FORMATTED_LANDMARK_DETAILS,DESCRIPTION
0,J71214794,flat,Bhawani bandhan,Kolkata North,Madhyamgram,2.0,1.0,920,4239.0,0.39,Old Property,0,Unfurnished,246.0,1,22.690003,88.459080,11.0,"['5 Religious Places', '15 Hospitals', '1 Attr...",Experience a new style of living with Bhawani ...
1,F70835394,flat,Ganguly 4sight desire,Kolkata South,Garia,1.0,1.0,535,5100.0,0.27,Old Property,0,Unfurnished,246.0,1,22.468780,88.380720,7.0,"['3 Metro Stations', '9 Religious Places', '3 ...",Let your dream of owning a flat come true with...
2,P69854924,flat,Dtc capital city,Kolkata East,Rajarhat,4.0,2.0,1940,4742.0,0.92,Old Property,0,Unfurnished,246.0,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...","Book your 4 BHK apartment in DTC Capital City,..."
3,E69854912,flat,Dtc capital city,Kolkata East,Rajarhat,2.0,1.0,910,4615.0,0.42,Old Property,0,Unfurnished,246.0,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...",Make DTC Capital City your next home. Book you...
4,R69167152,flat,Sai sarovaar,Kolkata East,New Town,3.0,1.0,1163,4700.0,0.55,Old Property,0,Unfurnished,246.0,1,22.570830,88.483880,4.0,"['1 Metro Station', '1 Religious Place', '1 AT...",Book a spectacular property in Sai Sarovaar th...

In [26]:
df.drop(columns=['FACING'], inplace=True)

In [27]:
df

,PROP_ID,PROPERTY_TYPE,SOCIETY_NAME,CITY,location,BEDROOM_NUM,BALCONY_NUM,AREA,Price_per_sqft,PRICE,AGE,FURNISH,amenity_luxury,FLOOR_NUM,LATITUDE,LONGITUDE,TOTAL_FLOOR,FORMATTED_LANDMARK_DETAILS,DESCRIPTION
0,J71214794,flat,Bhawani bandhan,Kolkata North,Madhyamgram,2.0,1.0,920,4239.0,0.39,Old Property,Unfurnished,246.0,1,22.690003,88.459080,11.0,"['5 Religious Places', '15 Hospitals', '1 Attr...",Experience a new style of living with Bhawani ...
1,F70835394,flat,Ganguly 4sight desire,Kolkata South,Garia,1.0,1.0,535,5100.0,0.27,Old Property,Unfurnished,246.0,1,22.468780,88.380720,7.0,"['3 Metro Stations', '9 Religious Places', '3 ...",Let your dream of owning a flat come true with...
2,P69854924,flat,Dtc capital city,Kolkata East,Rajarhat,4.0,2.0,1940,4742.0,0.92,Old Property,Unfurnished,246.0,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...","Book your 4 BHK apartment in DTC Capital City,..."
3,E69854912,flat,Dtc capital city,Kolkata East,Rajarhat,2.0,1.0,910,4615.0,0.42,Old Property,Unfurnished,246.0,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...",Make DTC Capital City your next home. Book you...
4,R69167152,flat,Sai sarovaar,Kolkata East,New Town,3.0,1.0,1163,4700.0,0.55,Old Property,Unfurnished,246.0,1,22.570830,88.483880,4.0,"['1 Metro Station', '1 Religious Place', '1 AT...",Book a spectacular property in Sai Sarovaar th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5143,U71217472,flat,Shyama apartment,Kolkata South,Behala,2.0,1.0,730,4520.0,0.33,Relatively New Property,Fully furnished,307.0,2,22.497809,88.309352,2.0,"['1 Shopping', '8 Religious Places', '4 ATMs',...",There is no brokerage charges for this propert...
5144,E64737128,flat,Privet,Kolkata South,New Alipore,3.0,1.0,2000,9000.0,1.80,Moderately Old,Luxury furnished,192.0,2,22.514358,88.325146,5.0,"['1 Shopping', '5 Religious Places', '5 ATMs',...","This beautiful 3 bhk flat in new alipore, kolk..."
5145,J66826540,flat,Ambuja upohar the condoville,Kolkata South,Chak Garia,3.0,2.0,1843,8410.0,1.55,New Property,Luxury furnished,135.0,14,22.485966,88.396453,19.0,"['1 Metro Station', '14 Religious Places', '3 ...",Ambuja upohar the condoville is one of the mos...
5146,E66826562,flat,Ambuja upohar the condoville,Kolkata South,Chak Garia,3.0,2.0,2079,8417.0,1.75,New Property,Luxury furnished,135.0,10,22.485966,88.396453,19.0,"['1 Metro Station', '14 Religious Places', '3 ...",Looking for a 3 bhk property for sale in kolka...
5147,J71210104,flat,Dlf new town heights,Kolkata East,New Town,2.0,1.0,1257,5887.0,0.74,New Property,Fully furnished,706.0,3,22.600691,88.469454,17.0,"['2 Religious Places', '3 ATMs', '5 Hospitals'...","It is a standard 2 bhk with 2 room, 2 bath, 1 ..."

In [28]:
df.shape

(5148, 19)

In [29]:
df['amenity_luxury'] = df['amenity_luxury'].apply(lambda x: 'Low' if x <=200 else 'Medium' if x <= 500 else 'High')

In [30]:
#df.to_pickle('data.pkl', index=False)

In [31]:
#df['FLOOR_NUM'] = df['FLOOR_NUM'].apply(lambda x : 'Low Floor' if x <= 2 else 'Mid Floor' if x <= 10 else 'High Floor')

In [32]:
df.head()

,PROP_ID,PROPERTY_TYPE,SOCIETY_NAME,CITY,location,BEDROOM_NUM,BALCONY_NUM,AREA,Price_per_sqft,PRICE,AGE,FURNISH,amenity_luxury,FLOOR_NUM,LATITUDE,LONGITUDE,TOTAL_FLOOR,FORMATTED_LANDMARK_DETAILS,DESCRIPTION
0,J71214794,flat,Bhawani bandhan,Kolkata North,Madhyamgram,2.0,1.0,920,4239.0,0.39,Old Property,Unfurnished,Medium,1,22.690003,88.459080,11.0,"['5 Religious Places', '15 Hospitals', '1 Attr...",Experience a new style of living with Bhawani ...
1,F70835394,flat,Ganguly 4sight desire,Kolkata South,Garia,1.0,1.0,535,5100.0,0.27,Old Property,Unfurnished,Medium,1,22.468780,88.380720,7.0,"['3 Metro Stations', '9 Religious Places', '3 ...",Let your dream of owning a flat come true with...
2,P69854924,flat,Dtc capital city,Kolkata East,Rajarhat,4.0,2.0,1940,4742.0,0.92,Old Property,Unfurnished,Medium,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...","Book your 4 BHK apartment in DTC Capital City,..."
3,E69854912,flat,Dtc capital city,Kolkata East,Rajarhat,2.0,1.0,910,4615.0,0.42,Old Property,Unfurnished,Medium,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...",Make DTC Capital City your next home. Book you...
4,R69167152,flat,Sai sarovaar,Kolkata East,New Town,3.0,1.0,1163,4700.0,0.55,Old Property,Unfurnished,Medium,1,22.570830,88.483880,4.0,"['1 Metro Station', '1 Religious Place', '1 AT...",Book a spectacular property in Sai Sarovaar th...

In [33]:
import pickle

with open('data.pkl', 'wb') as file:
    pickle.dump(df, file)

In [34]:
df

,PROP_ID,PROPERTY_TYPE,SOCIETY_NAME,CITY,location,BEDROOM_NUM,BALCONY_NUM,AREA,Price_per_sqft,PRICE,AGE,FURNISH,amenity_luxury,FLOOR_NUM,LATITUDE,LONGITUDE,TOTAL_FLOOR,FORMATTED_LANDMARK_DETAILS,DESCRIPTION
0,J71214794,flat,Bhawani bandhan,Kolkata North,Madhyamgram,2.0,1.0,920,4239.0,0.39,Old Property,Unfurnished,Medium,1,22.690003,88.459080,11.0,"['5 Religious Places', '15 Hospitals', '1 Attr...",Experience a new style of living with Bhawani ...
1,F70835394,flat,Ganguly 4sight desire,Kolkata South,Garia,1.0,1.0,535,5100.0,0.27,Old Property,Unfurnished,Medium,1,22.468780,88.380720,7.0,"['3 Metro Stations', '9 Religious Places', '3 ...",Let your dream of owning a flat come true with...
2,P69854924,flat,Dtc capital city,Kolkata East,Rajarhat,4.0,2.0,1940,4742.0,0.92,Old Property,Unfurnished,Medium,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...","Book your 4 BHK apartment in DTC Capital City,..."
3,E69854912,flat,Dtc capital city,Kolkata East,Rajarhat,2.0,1.0,910,4615.0,0.42,Old Property,Unfurnished,Medium,1,22.562087,88.505528,20.0,"['1 Shopping', '1 Education', '1 Hospital', '1...",Make DTC Capital City your next home. Book you...
4,R69167152,flat,Sai sarovaar,Kolkata East,New Town,3.0,1.0,1163,4700.0,0.55,Old Property,Unfurnished,Medium,1,22.570830,88.483880,4.0,"['1 Metro Station', '1 Religious Place', '1 AT...",Book a spectacular property in Sai Sarovaar th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5143,U71217472,flat,Shyama apartment,Kolkata South,Behala,2.0,1.0,730,4520.0,0.33,Relatively New Property,Fully furnished,Medium,2,22.497809,88.309352,2.0,"['1 Shopping', '8 Religious Places', '4 ATMs',...",There is no brokerage charges for this propert...
5144,E64737128,flat,Privet,Kolkata South,New Alipore,3.0,1.0,2000,9000.0,1.80,Moderately Old,Luxury furnished,Low,2,22.514358,88.325146,5.0,"['1 Shopping', '5 Religious Places', '5 ATMs',...","This beautiful 3 bhk flat in new alipore, kolk..."
5145,J66826540,flat,Ambuja upohar the condoville,Kolkata South,Chak Garia,3.0,2.0,1843,8410.0,1.55,New Property,Luxury furnished,Low,14,22.485966,88.396453,19.0,"['1 Metro Station', '14 Religious Places', '3 ...",Ambuja upohar the condoville is one of the mos...
5146,E66826562,flat,Ambuja upohar the condoville,Kolkata South,Chak Garia,3.0,2.0,2079,8417.0,1.75,New Property,Luxury furnished,Low,10,22.485966,88.396453,19.0,"['1 Metro Station', '14 Religious Places', '3 ...",Looking for a 3 bhk property for sale in kolka...
5147,J71210104,flat,Dlf new town heights,Kolkata East,New Town,2.0,1.0,1257,5887.0,0.74,New Property,Fully furnished,High,3,22.600691,88.469454,17.0,"['2 Religious Places', '3 ATMs', '5 Hospitals'...","It is a standard 2 bhk with 2 room, 2 bath, 1 ..."

In [35]:
df.to_csv('flat_data.csv', index= False)